.woboticon_container {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-bottom: 20px;
    animation: icon_anim 1s;
    transform: rotate(-30deg);
}

.woboticon_container>div {
    width: 11px;
    background-color: #3766e8;
    border-radius: 20px;
}

.woboticon_container>div:nth-child(1) {
    height: 38px;
}

.woboticon_container>div:nth-child(2) {
    height: 50px;
}

.woboticon_container>div:nth-child(3) {
    height: 30px;
}

@keyframes icon_anim {
    0% {
        gap: 0px;
        transform: rotate(0deg);
    }

    100% {
        gap: 7px;
        transform: rotate(-30deg);
    }
}